In [1]:
# Dataframes.
import pandas as pd

# Numerical arrays.
import numpy as np

# Stationarity
from statsmodels.tsa.stattools import adfuller

# Predictions
from pmdarima.arima import auto_arima
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from sklearn.metrics import mean_squared_error
from pmdarima.arima.utils import ndiffs
from pmdarima.utils import diff_inv
import warnings
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.seasonal import STL

# Plotting.
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

%matplotlib inline

In [2]:
# Change style and size of plots
plt.style.use("ggplot")
plt.rcParams["figure.figsize"] = (12, 8)
plt.rcParams["figure.titlesize"] = 15

### Stores
1. Loading the Files

In [3]:
# Load the stores.csv without an index.
stores = pd.read_csv("Walmart Data Set/stores.csv", header=0)

# Display the dafaframe
stores.head()

   Store Type    Size      Store A      Store B      Store C
0      1    A  151315  219622.0000  140167.0000  42988.00000
1      2    A  202307   39690.0000   34875.0000  39690.00000
2      4    A  205863  177247.7273  101190.7059  40541.66667
3      6    A  202505          NaN          NaN          NaN
4      8    A  155078          NaN          NaN          NaN

In [4]:
# Display the dafaframe
stores.tail()

    Store Type   Size  Store A  Store B  Store C
40     37    C  39910      NaN      NaN      NaN
41     38    C  39690      NaN      NaN      NaN
42     42    C  39690      NaN      NaN      NaN
43     43    C  41062      NaN      NaN      NaN
44     44    C  39910      NaN      NaN      NaN

In [ ]:
stores.describe()