In [1]:
# Dataframes.
import pandas as pd

# Numerical arrays.
import numpy as np

# Stationarity
from statsmodels.tsa.stattools import adfuller

# Predictions
from pmdarima.arima import auto_arima
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from sklearn.metrics import mean_squared_error
from pmdarima.arima.utils import ndiffs
from pmdarima.utils import diff_inv
import warnings
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.seasonal import STL

# Plotting.
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

%matplotlib inline

In [2]:
# Change style and size of plots
plt.style.use("ggplot")
plt.rcParams["figure.figsize"] = (12, 8)
plt.rcParams["figure.titlesize"] = 15

### Stores
1. Loading the Files

In [3]:
# Load the stores.csv without an index.
stores = pd.read_csv("Walmart Data Set/stores.csv", header=0)

# Display the dafaframe
stores.head()

   Store Type    Size      Store A      Store B      Store C
0      1    A  151315  219622.0000  140167.0000  42988.00000
1      2    A  202307   39690.0000   34875.0000  39690.00000
2      4    A  205863  177247.7273  101190.7059  40541.66667
3      6    A  202505          NaN          NaN          NaN
4      8    A  155078          NaN          NaN          NaN

In [4]:
# Display the dafaframe
stores.tail()

    Store Type   Size  Store A  Store B  Store C
40     37    C  39910      NaN      NaN      NaN
41     38    C  39690      NaN      NaN      NaN
42     42    C  39690      NaN      NaN      NaN
43     43    C  41062      NaN      NaN      NaN
44     44    C  39910      NaN      NaN      NaN

In [5]:
stores.describe()

           Store           Size        Store A        Store B       Store C
count  45.000000      45.000000       3.000000       3.000000      3.000000
mean   23.000000  130287.600000  145519.909100   92077.568633  41073.222223
std    13.133926   63825.271991   94068.443124   53234.277201   1712.049789
min     1.000000   34875.000000   39690.000000   34875.000000  39690.000000
25%    12.000000   70713.000000  108468.863650   68032.852950  40115.833335
50%    23.000000  126512.000000  177247.727300  101190.705900  40541.666670
75%    34.000000  202307.000000  198434.863650  120678.852950  41764.833335
max    45.000000  219622.000000  219622.000000  140167.000000  42988.000000

The stores file consist of information about 45 stores, including the type and size of each. We can observe that there are mainly empty values in the columns Store A, Store B and Store C.


<br>

_2. Data cleaning._

The first step to cleansing the data is by checking it for empty values.

In [ ]:
# Check for empty values.
stores.isnull().sum()

The above confirms that only the last three columns have the empty values. Since they do not provide enough information that could be valuable in the sales forecasting, they will be removed.

In [ ]:
# Remove columns with empty values.
cleaned_stores = stores.drop(['Store A','Store B','Store C'], axis=1)

# Check for empty values again.
cleaned_stores.isnull().sum()

In [ ]:
# Calculate maximum values of each store type and set as pie sizes
sizes = cleaned_stores.groupby('Type').max().Size.values
labels = cleaned_stores.groupby('Type').max().index

# Create a figure and axis, set a title.
fig, ax = plt.subplots(figsize=(8,8))
fig.suptitle("Store Size per Type")

# Build a pie plot.
ax.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=True, startangle=90)
# Equal aspect ratio ensures that pie is drawn as a circle.
ax.axis('equal') 

# Show the plot.
plt.tight_layout()
plt.show()